*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.settings
.tmproj
venv/
ENV/
env/
.git/
.hg/
.vscode/
dist/
docs/_build/
__pycache__/
media/
staticfiles/
.DS_Store
Thumbs.db
db.sqlite3