# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Backup files
*.bak

# Virtual environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Environment files
.env

# Static files
staticfiles/

# Docker
docker-compose.override.yml